In [1]:
# import libraries and modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import gmaps
import time
import scipy.stats as scistats
import random
import requests
import json
from datetime import datetime
from config import api_key
from config import gkey

In [2]:
# Kristina: Module to generate list of movie IDs
def highest_revenue():
    year_df = pd.DataFrame()
    decade_df = pd.DataFrame()
    for year in range(1960,2010): 
        time.sleep(0.25)
        response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' 
                            +  api_key + '&primary_release_year=' + str(year) + '&sort_by=revenue.desc&language=en-US')

        #store parsed json response
        highest_revenue = response.json() 
        # highest_revenue
        highest_revenue_films = highest_revenue['results']
        data_df = pd.DataFrame(highest_revenue_films)

        year_df[str(year)] = data_df['id']

    for x in range(0,5):    
        decade_list = []
        for year in range(1960+(x*10),1970+(x*10)):
            decade_list.append(year_df[str(year)])
        flat_decade_list = [item for x in decade_list for item in x]
        decade_df[str(year-9)] = flat_decade_list
    return decade_df

In [27]:
# Evan: Module to get list of people from cast
def top2people(movies):
    
    peopleDict = {'1960':[],'1970':[],'1980':[],'1990':[],'2000':[]}

    # loop through each movie in each column
    for column in movies.iteritems():
        for movie in column[1]:
            print(movie)
            # request credits list for movie
            cast_url = f'https://api.themoviedb.org/3/movie/{movie}/credits?api_key={api_key}'
            data = requests.get(cast_url).json()
            
            time.sleep(0.25)

            if data['cast']:
                # get list of cast IDs
                idList = {}
                for n,x in enumerate(data['cast']):
                    idList[n] = x['cast_id']

                # determine top 2 IDs
                idDF = pd.DataFrame.from_dict(idList, orient='index', columns=['cast_id'])
                idDF.sort_values('cast_id', inplace=True)
                idDF.reset_index(drop=False, inplace=True)

                # get person ID for top 2
                person1 = data['cast'][idDF.iloc[0]['index']]['id']
                if len(data['cast']) > 1:
                    person2 = data['cast'][idDF.iloc[1]['index']]['id']

                # check for uniqueness 
                if person1 not in peopleDict[column[0]]:
                    peopleDict[column[0]].append(person1)
                if len(data['cast']) > 1:
                    if person2 not in peopleDict[column[0]]:
                        peopleDict[column[0]].append(person2)
                
    # convert dictionary of people IDs to DataFrame
    peopleDF = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in peopleDict.items()]))
    return peopleDF

In [5]:
movies = highest_revenue()

In [ ]:
movies

In [28]:
people = top2people(movies)

967
539
284
1941
439
22013
15788
43039
11209
18973
25767
966
23439
11656
11167
29259
2216
59020
86297
116385
12230
1725
10911
36362
821
164
11536
990
2160
248
18647
28284
430
28501
31522
84249
40894
101778
63680
195576
982
947
646
9289
11897
11085
595
802
11697
13671
41521
898
1162
29235
122845
1626
31287
29873
79857
66433
657
8095
11576
5769
9078
4808
5925
571
936
24748
27759
15875
28172
29056
30137
266
26535
4324
71986
56749
658
433
11113
391
1594
704
14703
935
14433
506
3482
17277
2094
95358
8073
36245
187703
136446
123281
130332
15121
660
907
10338
11575
11694
2428
886
938
33364
45256
36815
39220
3481
539411
19120
29715
42736
81594
158867
14689
396
874
5923
21779
5780
2161
26268
429
6644
46041
23832
17295
17102
289179
20108
10772
33937
38793
180586
9325
667
37247
1879
475
3055
1654
12208
44695
10633
903
18900
27945
11206
16081
27277
86059
26039
2984
45335
62
16085
11356
916
6003
17917
805
871
10331
11046
52959
41857
22377
4929
5721
335
26170
42633
39209
8069
642
668
3116
14030
20391
26520
70478
42618
17529
2370
67220
133332
15383
576
2721
224463
74137
38096
2796
56883
9062
10671
11202
651
10112
5722
9459
11040
11165
10364
46691
1685
64512
42588
215843
11589
11916
23330
33157
40973
681
14811
11951
1051
984
25188
36492
185
12335
5822
466
10514
1687
482
11302
42493
15393
105254
252
994
238
9462
551
5916
10669
1643
1842
11624
573
493
1688
15573
14881
692
32061
4683
29336
42481
87152
143495
9552
253
9277
838
5924
10236
10648
11886
9040
11561
11901
12545
11577
17897
14886
1705
12101
203
28110
30593
11072
5919
240
682
3034
11123
27932
4985
6916
30497
829
4176
11034
13939
8348
42450
5121
85983
592
16938
578
36685
510
968
11843
93708
47178
11326
11484
11963
78353
19740
11686
3175
14821
31671
20187
35711
10711
29473
195012
1366
10730
19610
891
794
11558
10649
23479
12268
7340
10747
103
42239
10803
5228
10774
10518
21955
53566
11
840
11009
691
11006
14741
11319
5902
24032
703
12535
11586
7227
11590
17689
12262
37749
19050
30315
12637
1924
579
621
8469
16214
923
11778
6081
35976
11455
11327
123
36361
10766
11850
38731
12611
9584
24961
4484
698
1367
152
12102
348
9659
28
11449
11176
9051
6471
11145
31915
988
18966
10734
696
19827
16858
17264
1891
8536
525
21629
813
17169
16769
12705
8393
4488
5689
694
28124
13612
11977
1623
11033
3604
1955
1578
85
699
10246
13665
10890
387
11286
9443
62204
1103
36819
10323
19429
18254
26325
10627
14664
11527
19114
814
601
1371
9576
2623
1368
609
154
9387
150
783
10724
16363
15739
24226
14373
11639
13945
9728
97
78
1892
700
36670
535
1621
17692
860
9531
10650
111
10805
13105
9346
11153
6341
10576
19698
227
10269
15301
87
90
620
927
9336
9610
1885
157
9326
1788
218
2619
13763
21233
279
11707
11393
11002
4437
15259
105
1374
707
873
606
10303
10328
9281
9340
9080
9749
10999
10157
2108
11418
11064
11177
16082
8879
5683
744
9671
679
792
168
8856
15596
4978
10136
192
9377
9941
9426
10466
11873
235
9874
12118
10015
10013
10998
96
88
708
801
941
171147
10021
106
2039
117
10023
11548
6069
11896
16620
5548
580
12626
17159
380
856
9602
9396
9493
7520
2280
562
2383
3525
12144
37136
12233
4011
10131
623
9647
847
15592
19382
89
268
165
9494
207
942
9354
2978
10144
2604
709
403
1552
12150
10860
639
2756
2323
2616
10345
251
771
114
581
861
196
1573
11092
1498
951
1669
2119
11595
242
1375
8592
170805
1551
1700
169
280
8367
10020
879
274
820
2907
1598
9595
1406
7442
2924
1633
174
11846
37137
1089
1497
10333
11384
812
619
772
402
943
364
881
2005
6114
9869
8077
33
8845
9374
11806
11259
9475
11287
10326
8872
329
788
5503
424
37233
4478
176439
9350
858
9800
9944
9386
9739
864
1634
1049
9593
9559
9255
10438
8587
13
36955
854
1637
888
712
8467
628
9331
8984
680
2164
9359
2636
4476
10395
193
306
10731
862
1572
568
710
10530
414
807
8839
9804
8844
9598
9273
197
6950
949
2064
688
9909
63
8963
664
954
9802
11674
3595
9390
2300
9268
409
11000
4232
819
11228
1645
9294
9208
199
454
8818
9279
597
330
607
714
9772
2898
1624
8874
18
9427
11970
1281
754
415
637
489
1701
9619
9574
10603
95
857
929
544
9487
8656
10674
3050
1934
944
37165
9489
9798
9342
2109
9837
10312
795
846
547
1893
745
863
603
37135
564
509
36643
14
817
4806
10137
497
2667
2105
9032
8487
1844
9946
2668
955
98
8358
3981
10567
8871
1597
2133
36657
2655
4247
4327
462
9741
9679
7443
11678
2024
146
1493
671
120
585
808
161
676
1734
331
869
9740
5175
453
2770
634
129
1995
644
1933
9799
1903
121
672
557
1894
608
36669
2675
425
8346
180
640
1574
818
7451
9637
565
65
2501
9533
4547
122
12
604
22
310
616
296
605
13433
36658
36218
8961
6964
9471
1927
508
584
8273
4256
8619
809
673
558
9806
615
435
693
652
10555
163
2059
2048
5255
7131
2502
6947
4935
594
1538
70
674
1895
411
74
254
953
787
118
272
8488
9738
9982
9522
9928
561
9315
1495
7552
10022
533
58
591
950
36557
1593
920
36668
1271
956
1452
9836
7518
350
1402
1422
496
2486
9339
9767
7484
285
675
559
810
1858
2062
6479
35
6637
2503
1571
2268
6477
4523
298
1979
5559
4982
5174
11199
155
217
9502
8960
11631
10527
10764
1726
10681
2454
4564
1735
8966
12405
4922
13053
12222
13223
7840
8909
19995
767
8355
8373
14161
14160
18239
10528
18785
23398
18360
13475
15512
2080
534
13804
13448
17979
16869
18240

In [29]:
# Aruna: Module to generate DataFrame of people with birth state and places
people

          1960    1970     1980     1990     2000
0       2090.0   46597      2.0    723.0    500.0
1       3359.0   31070      3.0   3416.0  15336.0
2       7301.0   13784  20006.0  11510.0    934.0
3       7302.0    4299  20011.0   4517.0  73421.0
4       3151.0     862    707.0   1204.0     31.0
5       4090.0    9857   7171.0   1205.0   9994.0
6       3636.0   55636   3460.0   1269.0   2461.0
7       2639.0     827   9309.0   1581.0  61962.0
8       5676.0   57329  14414.0   1100.0   1981.0
9       5961.0   34759   2177.0   4430.0    206.0
10     13784.0   45110    190.0    521.0  20480.0
11     14500.0   45111  66223.0   1062.0   7399.0
12      3663.0   57891   5606.0     62.0    380.0
13     78778.0   86385   2176.0   7673.0   1461.0
14     29902.0    4483  16475.0      3.0  13240.0
15     14227.0    6450  67764.0   6197.0   6968.0
16      4165.0    1936  55674.0  45041.0   2387.0
17     12149.0   68411  55675.0  13550.0      3.0
18      5833.0    1903  37469.0  14701.0   1160.0
19     20141.0    1039  37470.0  14702.0  28639.0
20     10158.0  134768  15110.0    738.0  35701.0
21     14528.0   10017  42740.0   7447.0   6941.0
22      3265.0   18643    514.0    500.0    140.0
23      1905.0  239289  10409.0   3087.0   1204.0
24    100989.0    9768  54812.0    776.0   3926.0
25      2201.0   11850  18892.0   1733.0     62.0
26     70359.0   92048  11159.0   1158.0   2231.0
27      6251.0   75343  63208.0   3092.0   2963.0
28     68422.0     190   3198.0  16483.0   1771.0
29     24495.0   10169   4135.0   3094.0   8436.0
..         ...     ...      ...      ...      ...
252     4135.0   11147   5139.0      NaN  62064.0
253    10167.0   32715  63914.0      NaN  17306.0
254    10168.0   82702   8944.0      NaN  19274.0
255    10127.0   12270   5576.0      NaN    368.0
256    73022.0   32312  12656.0      NaN  23626.0
257    81443.0   10475  10767.0      NaN  21028.0
258   558560.0    1749   1063.0      NaN   1283.0
259    13728.0    5064   1796.0      NaN   8786.0
260    15655.0    4139    569.0      NaN  10859.0
261    24363.0   10205   8872.0      NaN      NaN
262    24364.0    2461  57418.0      NaN      NaN
263     5563.0   58401   9807.0      NaN      NaN
264   135336.0    8349  31468.0      NaN      NaN
265  1096880.0    9274  10361.0      NaN      NaN
266    15397.0   20011  10679.0      NaN      NaN
267    12267.0   55983    192.0      NaN      NaN
268     7502.0    7908   5698.0      NaN      NaN
269     8252.0   56819  67773.0      NaN      NaN
270     2565.0    5823   1902.0      NaN      NaN
271    18847.0   67773   1230.0      NaN      NaN
272    51812.0   40389  67274.0      NaN      NaN
273      380.0   26483   5344.0      NaN      NaN
274    20362.0    2962    228.0      NaN      NaN
275    10767.0    3267   1161.0      NaN      NaN
276    19576.0   83974  11510.0      NaN      NaN
277     3507.0   66288  26485.0      NaN      NaN
278    28146.0   66293  25306.0      NaN      NaN
279     4456.0    2314      NaN      NaN      NaN
280     6657.0   81544      NaN      NaN      NaN
281        NaN    1937      NaN      NaN      NaN

[282 rows x 5 columns]

In [16]:
# mock data
mockPlaces = pd.DataFrame({'place':['Seattle, WA, USA',
                                   'Portland, OR, USA',
                                   'Los Angeles, CA, USA',
                                   'Kansas City, MO, USA',
                                   'Toronto, CAN']
                       })
def placesMap(places):
    
    # format location data
    searchPlaces = [loc.replace(" ", "%20") for loc in places['place']]

    # maps url
    mapUrl = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?inputtype=textquery'

    # location dictionary
    placesDict = {'lat':[], 'lng':[]}

    # iterate through places dataframe
    for city in searchPlaces:
        # pull city/state variables from the row
        search = city
        # select fields with lat/long data
        fields = 'id,geometry'
        # build query url
        url = f'{mapUrl}&input={search}&fields={fields}&key={gkey}'
        # generate json data
        data = requests.get(url).json()
        # grab lat and long data from json
        lat = data['candidates'][0]['geometry']['location']['lat']
        lng = data['candidates'][0]['geometry']['location']['lng']
        # add data to dictionary
        placesDict['lat'].append(lat)
        placesDict['lng'].append(lng)

    # location dataframe
    locationDF = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in placesDict.items()]))

    # Configure gmaps with API key
    gmaps.configure(api_key=gkey)

    # Store 'Lat' and 'Lng' into  locations 
    locations = locationDF[['lat','lng']]

    # Create a poverty Heatmap layer
    fig = gmaps.figure()

    bank_layer = gmaps.symbol_layer(
        locations, fill_color='rgba(0, 10, 0, 0.4)',
        stroke_color='rgba(0, 10, 100, 0.4)', scale=2
    )

    fig = gmaps.figure()
    fig.add_layer(bank_layer)

    # heat_layer = gmaps.heatmap_layer(locations,
    #                                  dissipating=False, max_intensity=100,
    #                                  point_radius = 1)

    # # Adjust heat_layer setting to help with heatmap dissipating on zoom
    # heat_layer.dissipating = False
    # heat_layer.max_intensity = 100
    # heat_layer.point_radius = 1

    # fig.add_layer(heat_layer)

    return fig

In [17]:
placesMap(mockPlaces)

Figure(layout=FigureLayout(height='420px'))

      1970     1980    1990    2000    2010     comb
0  13784.0  55636.0   10017   10017   10017  69420.0
1   4299.0    827.0   18643   18643   18643   5126.0
2    862.0   1936.0  239289  239289  239289   2798.0
3   9857.0  68411.0    9768    9768    9768  78268.0
4  57329.0   1903.0   57329   57329   57329  59232.0
5  34759.0      NaN   34759   34759   34759      NaN
6      NaN      NaN   46597   46597   46597      NaN
7      NaN      NaN   31070   31070   31070      NaN
8      NaN      NaN    1936    1936    2880      NaN
9      NaN      NaN   68411   68411   49824      NaN

full